<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body ng-app="app">
	<div class="container" ng-controller="mainCtrl">
		<div class="row">
			<div class="col-md-12">				


				<div class="form-group">					
					<label>Keresés</label>					
					<suggestions search="{{search}}" />
				</div>
				<div class="well">
					Keresett szöveg: {{search}}
				</div>
			</div>
		</div>
	</div>	
	<script src="js/angular.js"></script>
	<script src="app/main.js"></script>
	<script src="app/directives/suggestions/suggestions.service.js"></script>
	<script src="app/directives/suggestions/suggestions.directive.js"></script>
	
  </body>
</html>