<input type="text" class="form-control" placeholder="Keresés" ng-model="search" ng-keydown="keypress($event)">
<div class="list-group" ng-if="list !== undefined">
	<button type="button" class="list-group-item" ng-class="{'active' : $index === selectedIndex}" ng-repeat="item in list" ng-click="selectItem(item)">{{item.title}}</button>	
</div>